<section id="footer" class="section bg-gray">
    <section class="container {{ grid_size }}">
        <p>ⓒ 2016~2020 <a href="/">LunaServer</a>. Powered by Grav, a powerful flat-file CMS.</p>
        <p><a href="http://minecraft.net">Get Minecraft</a>    |    <a href="http://mcmoonserver.com">MoonServer</a></p>
    </section>
</section>
